POSTGRES_DB=football_platform
POSTGRES_USER=football
POSTGRES_PASSWORD=football
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=football
AWS_DEFAULT_REGION=us-east-1
INGEST_HISTORY_SEASONS=1
SEASON_ROLLOVER_MONTH=8
INGEST_LEAGUE_CODE=

DREMIO_PORT=9047
DREMIO_USER=admin
DREMIO_PASSWORD=admin12345

STREAMLIT_PORT=8501
